{# TODO : manage errors display #}
<div>
	<h3 class="error_message bg-light text-danger text-center">
		{{error_message}}</h3>
	<form method="post" enctype="multipart/form-data">

		<div class="text-center">
			<p>
				<input type="hidden" name="id" value="{{ exit.id }}">
				<label for="name">Nom :
				</label>
				<input type="text" value="{{ exit.name }}" name="name" id="name">
			</p>
			<p>
				<label for="department">Choisir un département :
				</label>
				<select name="department" id="department">
					<option value="{{exit.department}}">{{exit.department}}</option>
					{% include "_departmentList.html.twig" %}
				</select>
			</p>
			<p>
				<label for="country-select">Choisir un pays :
				</label>
				<select name="country" id="country">
					<option value="{{exit.country}}">{{exit.country}}</option>
					{% include "_countryList.html.twig" %}
				</select>
			</p>
			<p>
				<label for="height">Hauteur :
				</label>
				<input type="text" value="{{ exit.height }}" name="height" id="height">
				mètres.
			</p>
			<p>
				<label for="access_duration">Temps d'accès :
				</label>
				<input type="time" value="{{ exit.access_duration }}" name="access_duration" id="access_duration">
				heures.
			</p>
			<p>
				<label for="id_type_jump">Type de saut :
				</label>

				{% set arrayTypeJumpByExit = [] %}
				{% for typeJumpByExit in typesJumpsByExit %}
					{% set arrayTypeJumpByExit = arrayTypeJumpByExit|merge([ typeJumpByExit.name ]) %}
				{% endfor %}

				{% for typeJump in typesJumps %}

					{% if typeJump.name in arrayTypeJumpByExit %}

						<div>
							<input type="checkbox" name="jumpTypes[]" value="{{ typeJump.id }}" id="{{ typeJump.name }}" checked>
							<label for="{{ typeJump.name }}">{{ typeJump.name }}</label>
						</div>

					{% else %}

						<div>
							<input type="checkbox" name="jumpTypes[]" value="{{ typeJump.id }}" id="{{ typeJump.name }}">
							<label for="{{ typeJump.name }}">{{ typeJump.name }}</label>
						</div>

					{% endif %}

				{% endfor %}

			</p>
			<p>
				<label for="gps_coordinates">Coordonnées GPS :
				</label>
				<input type="text" value="{{ exit.gps_coordinates }}" name="gps_coordinates" id="gps_coordinates">
			</p>
			<div class="form-floating">
				<p>
					<label for="acces">Accès :</label>
				</p>
				<p>
					<textarea class="form-control" id="acces" name="acces" rows="5">{{ exit.acces }}</textarea>
				</p>
			</div>
			<div class="form-floating">
				<p>
					<label for="remark">Remarques :</label>
				</p>
				<p>
					<textarea class="form-control" id="remark" name="remark" rows="5">{{ exit.remark }}</textarea>
				</p>
			</div>
			<p>
				<label for="video">Lien de la vidéo :
				</label>
				<input type="text" value="{{ exit.video }}" name="video" id="video">
			</p>
			<p>
				<label for="image">Modifier l'image :
				</label>
				<input type="file" name="image" id="image"/>
			</p>
			<div>
				<p>Image active :
					{{exit.image}}</p>
			</div>
			<p>
				<button type="submit" class="btn btn-success">Valider les modifications</button>
			</p>
		</div>
	</form>
</div>
