{# creation of the exit display list page and using boostrap to style the page #}

{% extends 'layout.html.twig' %}

{% block title %}Liste des exits
{% endblock %}

{% block content %}

	{% if deleteExitName is not empty %}

		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<symbol id="check-circle-fill" fill="currentColor" viewbox="0 0 16 16">
				<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
			</symbol>
			<symbol id="info-fill" fill="currentColor" viewbox="0 0 16 16">
				<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
			</symbol>
			<symbol id="exclamation-triangle-fill" fill="currentColor" viewbox="0 0 16 16">
				<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
			</symbol>
		</svg>

		<div id="deleteMessage" class="alert alert-success d-flex align-items-center" role="alert">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
			<div>
				L'Exit
				{{ deleteExitName }}
				a bien été supprimé
			</div>
		</div>

	{% endif %}

    {# creation of a drop-down list to contain the filters #}
    <main class="container-fluid">
        <div class="row justify-content-center gap-sm-3 gap-md-3 gap-lg-3 gap-xl-4">
            <h1 class="col-sm-12 col-xl-12 text-center mb-3 mt-3" >Liste des exits</h1>
            <form class="container" method="POST">
                {% if islogin == true %}
                <div class="row justify-content-center mb-2 mt-1"><a href="/exits/add" class="m-0 p-0 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"><button type="button" class="btn btn-primary col-12">Ajouter un exit</button></a></div>
                {% endif %}
                <div class="row gx-lg-0 mt-3 justify-content-center">
                    <li class="list-group col-5 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                        <a class="dropdown-toggle link-dark text-decoration-none text-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtrer par <br> départements
                        </a>
                        <ul class="dropdown-menu overflow-auto bg-secondary text-light" aria-labelledby="navbarDropdown" id="dropdown-menu">
                                <li class="ms-1">{% include "_departmentListCheckbox.html.twig" %}</li>
                        </ul>
                    </li>
                    <li class="list-group ps-lg-4 ps-xl-4 col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                        <a class="dropdown-toggle link-dark text-decoration-none text-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtrer par <br> type de saut
                        </a>
                        <ul class="dropdown-menu bg-secondary text-light" aria-labelledby="navbarDropdown">
                                <li class="ms-1">{% include "_typeJumpListCheckbox.html.twig" %}</li>
                        </ul>
                    </li>
                </div>
                <div class="row justify-content-center">
                <button type="submit" class="btn btn-outline-primary m-1 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">Filtrer</button>
                <a class="p-0 m-1 mb-2 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" href="/unsetFilters" data-toggle="modal" data-target="#myModal1"><button type="button" class="btn btn-outline-primary w-100">Reinitialiser les filtres</button></a>
                </div>
            </form>
            {% if isFilterActive == true %}
            <div class="container mb-3 mb-md-0">
                <div class="row justify-content-center">
                    <div class="filter_active col-12 col-md-4">
                        <h5 class="text-center">Filtres actifs :</h5>   
                        <p class="text-center mb-1">{{ depFiltersList }}</p>
                        <p class="text-center">{{ jumpFiltersList }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {# display of the list of exits #}
            {% for exit in exits %}
            <div class="card-container pb-5 mb-5 col-11 col-sm-5 col-md-5 col-lg-4 col-xl-3">
                <a href="/exits/show?id={{ exit.id }}" class="link link-dark text-decoration-none"> 
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title text-dark">{{ exit.name}}</h5>
                        </div>           
                        <img src="/{{exit.image}}" class="card-img-top" alt="photo montrant le point de saut">
                        <ul class="list-group">
                            <li class="list-group-item">Lieu : {{exit.department}}</li>
                            <li class="list-group-item" id="exit-height">{{exit.height}}</li>
                            <span class="list-item"><li class="list-group-item">Voir le détail de l'exit</li></span>
                        </ul>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block script %}
		<script src="/assets/js/script.js"></script>
{% endblock %}

