{% extends 'layout.html.twig' %}

{% block title %}Détail |{{ exit.name }}
{% endblock %}

{% block content %}

	{% set typeJumpName = "" %}

	{% for typeJump in typeJumpByExit %}

		{% set typeJumpName = typeJumpName ~ ' ' ~ typeJump.name ~ ' ! ' %}

	{% endfor %}

	<h1 class="my-3 text-center">{{ exit.name }}</h1>

	<div class="container d-flex flex-column flex-md-row">

		<div class="container">
			<img class="img-fluid rounded " src="{{ exit.image }}" alt="Photo de l'exit {{ exit.name }}">
		</div>

		<div class="my-3 container">

			<p>
				<strong>Lieu :</strong>
				{{ exit.department }},
				{{ exit.country }}.</p>
			<p>
				<strong>Hauteur :</strong>
				{{ exit.height }}</p>
			<p>
				<strong>Type :</strong>
				{{ typeJumpName }}</p>
			<p>
				<strong>Durée d'accès :</strong>
				{{ exit.access_duration }}</p>
			<p>
				<strong>Point GPS :</strong>
				<a href="https://www.google.com/maps/place/{{ exit.gps_coordinates }}" target="_blank">{{ exit.gps_coordinates }}</a>
			</p>

			<a href="{{ exit.video }}" class="btn btn-dark mb-4" tabindex="-1" role="button" aria-disabled="true" target="_blank">Vidéo</a>

		</div>

	</div>

	<div class="container mt-lg-5">

		<h2>Accès</h2>
		<p class="text-justify background-p p-4">{{ exit.acces }}</p>
		<h2 class="mt-5">Remarques</h2>
		<p class="text-justify background-p p-4">{{ exit.remark }}</p>

	</div>

	<div class="container d-flex">

		<form action="/exits/">
			<input type="hidden" name="id" value="{{ exit.id }}">
			<button class="btn btn-info mt-2">Retour</button>
		</form>

		{% if islogin == true %}

			<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalToggleLabel">Confirmez-vous la suppression ?</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>

						<div class="modal-footer">
							<form action="/exits/delete" method="POST">
								<input type="hidden" name="id" value="{{ exit.id }}">
								<button class="btn btn-success m-2" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Oui</button>
							</form>
							<button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal" aria-label="Close">Non</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalToggleLabel2">L'exit
								{{ exit.name }}
								a été supprimé.</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>
				</div>
			</div>
			<a class="btn btn-danger m-2" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Supprimer</a>

		{% endif %}

	</div>

{% endblock %}
