{# TODO : manage errors display #}
<div class="add_form_container container">
	<h1 class = "text-center">Ajouter un saut au carnet de saut</h1>
	<div class="row">
	{% for error_message in error_messages %}
		<h3 class = "error_message bg-light text-danger text-center"> {{error_message}}</h3>
		{% endfor %}
		<form  class="add_form" method="post" enctype="multipart/form-data">
			<div class="text-center">
				<div class="mb-4">
					<label class="col-6 col-lg-6"  for="pseudo"><strong>Nom ou pseudo</strong>
					</label>
					<input class="col-11 col-lg-8" type="text" value="{{ user.pseudo }}" name="pseudo" id="pseudo" maxlength="50" placeholder="jean_jacques_du_6_9" required>
					</div>
				<div class="mb-4">
                <div class="mb-4">
					<label class="col-6 col-lg-6"  for="id_exit"><strong>Nom de l'exit</strong>
					</label>
					<select class="col-11 col-lg-8" value="{{ jump_log.id_exit }}" name="id_exit" id="id_exit" maxlength="50" required>
					<option></option>
					{% for exit in exits %}
						<option value="{{ exit.id }}">{{ exit.name }}</option>
                	{% endfor %}
					</select>
				<div class="mb-4">
					<label class="col-6 col-lg-6"  for="date_of_jump"><strong>Date</strong>
					</label>
					<input class="col-11 col-lg-8" type="date" value="{{ jump_log.date_of_jump }}" name="date_of_jump" id="date_of_jump" maxlength="10" placeholder="jean_jacques_du_6_9" required>
					</div>
				<div class="mb-4">

				<div class="mb-4">
					<label class="col-6 col-lg-6"  for="id_type_jump"><strong>Type de saut</strong>
					</label>
					<select class="col-11 col-lg-8" value="{{ jump_log.id_type_jump }}" name="id_type_jump" id="id_type_jump" maxlength="50" required>
						{% include "_typeJumpList.html.twig" %}
					</select>
				</div>

				<div class="mb-4">
					<p>Matériel :</p>
				</div>

				<div class="mb-4 ms-md-1">
					<label class="col-6 col-lg-1 text-lg-end"  for="container"><strong>Harnais</strong>
					</label>
					<input class="col-11 col-lg-3 ms-lg-1 mb-4 mb-lg-0"  type="text" value="{{ jump_log.container }}" name="container" id="container" maxlength="50" placeholder="Zak 3">
				</div>
				<div class="mb-4 ms-md-1">	
					<label class="col-6 col-lg-1 text-lg-end" for="canopy"><strong>Voile</strong>
					</label>
					<input class="col-11 col-lg-3 ms-lg-1 mb-4 mb-lg-0" type="text" value="{{ jump_log.canopy }}" name="canopy" id="canopy" maxlength="50" placeholder="troll">
				</div>
				<div class="mb-4 ms-md-1">
					<label class="col-6 col-lg-1 me-lg-1 text-lg-end" for="suit"><strong>Suit</strong>
					</label>
					<input class="col-11 col-lg-3 ms-lg-1 mb-4 mb-lg-0" type="text" value="{{ jump_log.suit }}" name="suit" id="suit" maxlength="50" placeholder="freak">
				</div>



				<div class="mb-4">
					<label class="col-6 col-lg-1 me-lg-1 text-lg-end" for="weather"><strong>Météo</strong>
					</label>
					<input class="col-11 col-lg-3 mb-4 mb-lg-0" type="text" value="{{ jump_log.weather }}" name="weather" id="weather" maxlength="50">
					</input>
					<label class="col-6 col-lg-1 me-lg-1 text-lg-end" for="wind"><strong>Vent</strong>
					</label>
					<input class="col-11 col-lg-3 mb-4 mb-lg-0" type="text" value="{{ jump_log.wind }}" name="wind" id="wind" maxlength="50">
					</input>
				</div>
					
		
				<div class="mb-4 me-lg-2">
					<label class="col-6 col-lg-2  mb-2 text-lg-end" for="image"><strong>Image</strong></label>
					<input class="col-11 col-lg-3" type="file" value="{{ jump_log.image }}" name="image" id="image"/>
				</div>
				<div class="mb-4">
					<label class="col-6" for="video"><strong>Vidéo</strong></label>
					<input class="col-11 col-lg-8" type="text" value="{{ jump_log.video }}" name="video" id="video" placeholder="https://www.youtube.com/watch?v=FNdzA_UUdIc">
				</div>
				
				<div>
					<label class="col-6" for="comment"><strong>Remarques</strong></label>
					<p class="mb-4"><textarea class="col-11 col-lg-8" value="{{ jump_log.comment }}" id="comment" name="comment" rows="3" cols="30" placeholder="remarques sur le saut"></textarea></p>
				</div>	
				<div class="row form-group justify-content-center mt-3 mb-4">
					<input type="submit" class="btn btn-lg btn-primary btn-block col-6 col-md-3" value="Créer">
				</div>				

			</div>
		</form>
		<form class="mb-5" action="/jumplog/">
			<input type="hidden" name="id" value="{{ exit.id }}">
			<button class="btn btn-info m-2">Retour</button>
		</form>
	</div>
</div>

